<div class="add-body-margin">
  <h1 class="center">Create an Account</h1>

  <%= form_for @user, url: new_user_path do |f| %>
    <div class="input-group">
      <%= f.label :first_name, class: "input-group-addon" %>
      <%= f.text_field :first_name, class: "form-control", validate: true %>
  	</div>
    <div class="input-group">
      <%= f.label :last_name, class: "input-group-addon" %>
      <%= f.text_field :last_name, class: "form-control" %>
  	</div>
    <div class="input-group">
      <%= f.label :email, class: "input-group-addon" %>
      <%= f.email_field :email, class: "form-control" %>
  	</div>
    <div class="input-group">
      <%= f.label :username, class: "input-group-addon" %>
      <%= f.text_field :username, class: "form-control" %>
  	</div>
  	<div class="input-group">
      <%= f.label :password, class: "input-group-addon" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  	</div>
  	<div class="input-group">
      <div class="input-group-addon"></div>
      <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control" %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :birthday %><br>
  	  <%= f.date_select :birthday, start_year: Date.today.year - 99, end_year: Date.today.year - 18, default: {year: Date.today.year - 18} %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :address, class: "input-group-addon" %>
  	  <%= f.text_field :address, class: "form-control" %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :city, class: "input-group-addon" %>
  	  <%= f.text_field :city, class: "form-control" %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :country, class: "input-group-addon" %>
  	  <%= f.text_field :country, class: "form-control" %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :zip_code, class: "input-group-addon" %>
  	  <%= f.text_field :zip_code, class: "form-control" %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :xp_years, class: "input-group-addon" %>
  	  <%= f.number_field :xp_years, class: "form-control", min: 0, max: 99 %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :housing_type, class: "input-group-addon" %>
  	  <%= f.text_field :housing_type, class: "form-control" %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :bio, class: "input-group-addon" %>
  	  <%= f.text_area :bio, class: "form-control" %>
  	</div>
  	<div class="input-group">
  	  <%= f.label :sitter, class: "input-group-addon" %>
  	  <%= f.select :sitter, ["yes" , "no"], class: "form-control" %>
  	</div>
  	<div class="center input-group">
  	  <%= f.submit :submit, class: 'submit btn btn-default' %>
  	</div>
  <% end %>
</div>
